@import './normalize.scss';
@import './variable.scss';
@import './mixin.scss';
@import './animate.scss';

html {
  position: relative;
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0 auto;
  font-family: Arial, Microsoft JhengHe, sans-serif;
  color: #000;
  font-size: 14px;
}

body,
footer,
header {
  max-width: $mobile_max_width;
  min-width: 0;
}
